@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    var Model = (DefaultLayout)ViewData["Layout"];
    Model.Header.Classes = Model.Banner != null ? "header_area header_inner_page" : "header_area";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/Head.cshtml", Model.Head)
    @RenderSection("styles", required: false)
</head>
<body style="color: black;">
    @await Html.PartialAsync("~/Views/Shared/Partials/Header.cshtml", Model.Header)
    @if (Model.Banner != null)
    {
        await Html.RenderPartialAsync("~/Views/Shared/Partials/Banner.cshtml", Model.Banner);
    }
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/Partials/Footer.cshtml", Model.Footer)
    @await Html.PartialAsync("~/Views/Shared/Partials/Scripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>