# Docker ignore file
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/coverage/
**/.nyc_output/
**/.git/
**/.gitignore
**/README.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.env
**/.aws
**/.ssh
**/secrets.dev.yaml
**/values.dev.yaml
**/.github/
LICENSE
**/*.trx
**/*.coverage
**/*.coveragexml
**/TestResults/
**/.idea/
**/*.DotSettings.user
**/*.user
**/launchSettings.json
