<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="Takerman" value="https://pkgs.dev.azure.com/Takerman/_packaging/Takerman/nuget/v3/index.json" />
	</packageSources>
	<!--<packageSourceCredentials>
		<Takerman>
			<add key="Username" value="az" />
			<add key="ClearTextPassword" value="ewwjhlfghctq3v3fifqq3rm4wu7lujppiii3h7qecvduslf5c6ra" />
		</Takerman>
	</packageSourceCredentials>-->
</configuration>