<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Takerman" value="https://pkgs.dev.azure.com/Takerman/_packaging/Takerman/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="takerman" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>