<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>
                            raid-title
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="ti-user"></i> Tanyo Ivanov</li>
                            <li><i class="ti-calendar"></i> Jan 17, 2023</li>
                        </ul>
                        <p class="blog-paragraph">
                            Hello,<br />
                            raid-content-intro
                        </p>
                        <img class="img-fluid blog-post-image" src="/img/blog/raid/raid-server.jpg" />
                        <p class="blog-paragraph">
                            raid-content-section
                        </p>
                        <p class="text-center">
                            Regards,<br />
                            Tanyo Ivanov
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>