<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>
                            ransomware-resolution-title
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="ti-user"></i> Tanyo Ivanov</li>
                            <li><i class="ti-calendar"></i> Jan 20, 2024</li>
                        </ul>
                        <p style="width: 60%; text-align: center; margin: auto; padding-bottom: 40px;">
                            Hello,<br />
                            ransomware-resolution-content
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <img class="img-fluid blog-post-image" src="../assets/img/blog/ransomware/dietpi.png" />
        </div>
        @await Html.PartialAsync("~/Views/Shared/Partials/Share.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partials/Disqus.cshtml")
    </div>
</section>