<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>
                            AWS Summit 2022 - London, Excel
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="ti-user"></i> Tanyo Ivanov</li>
                            <li><i class="ti-calendar"></i> Nov 26, 2022</li>
                        </ul>
                        <p style="width: 60%; text-align: center; margin: auto; padding-bottom: 40px;">
                            Hello,<br />
                            aws-summit-content
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 p-0">
                <iframe class="p-0" width="400" height="250" src="https://www.youtube.com/embed/7HPmEcvpQ44" title="AWS Summit 2022 - Excel, London" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 text-center">
                <strong>Here are the resources</strong><br />
                <a href="https://aws.amazon.com/events/summits/london/" target="_blank">Amazon Summit 2022, London, Official page</a><br />
                Regards,<br />
                Tanyo Ivanov
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Partials/Share.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partials/Disqus.cshtml")
    </div>
</section>