@using Tanyo.Portfolio.Web.Models.Partials
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-margin">
    @await Html.PartialAsync("~/Views/Shared/Partials/Blog.cshtml", new Blog())
</div>