@using Tanyo.Portfolio.Web.Models.Partials
@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model Blog
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-margin">
    @await Html.PartialAsync("~/Views/Home/Blog.cshtml", Model)
</div>