<section class="about_area">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="/img/profile/about-us.png" alt="">
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left row">
                    <p class="top_text">About me <span></span></p>
                    <h2>
                        Software Developer
                    </h2>
                    <p>
                        Software developer with long years of experience in various technologies, projects, environments and companies. A person who don't stop until delivery. A person who invests from himself in his work. Able to learn new technologies in short period of time when needed.
                    </p>
                </div>
                <div class="button-box main_title col-lg-12">
                    <a class="primary_btn" role="button" href="@Url.Action("Index", "Skills")"><span>Skills</span></a>
                    <a class="primary_btn" role="button" href="@Url.Action("Index", "Pricing")"><span>Pricing</span></a>
                </div>
            </div>
            <div class="row container">
                <div class="col-3"></div>
                <div class="col-6">
                    <img style="margin-left: auto; margin-right: auto; display: block;" src="~/img/specs/chart.png" alt="Technologies chart" />
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</section>