@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model Banner

<sction class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@localizer[Model.Title]</h2>
                <div class="page_link">
                    @foreach (var navLink in Model.NavLinks)
                    {
                        <a href="@Url.ActionLink(navLink.Action, navLink.Controller, navLink.Data)">@localizer[navLink.Label]</a>
                    }
                </div>
                <div class="fb-like"
                     data-href="https://tanyoivanov.net"
                     data-show-faces="true"
                     data-layout="button_count"
                     data-action="like"
                     data-size="small"
                     data-share="true">
                </div>
            </div>
        </div>
    </div>
</sction>