@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer

<div id="disqus_thread"></div>
<script>
    const PAGE_URL = 'https://tanyoivanov.net';
    const PAGE_IDENTIFIER = location.href;
    var disqus_config = function () {
        this.page.url = PAGE_URL;
        this.page.identifier = PAGE_IDENTIFIER;
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://tanyo-takerman-net-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>@localizer["Please enable JavaScript to view the comments."]</noscript>