@model ProgressBars

<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-6" style="top: -40px; font-weight: bold;">
            @foreach (var progressBar in Model.Bars)
            {
                <div class="progress">
                    <div class="progress-bar bg-success" style="width:@(progressBar.Value)0%;">@progressBar.Key @progressBar.Value/10</div>
                </div>
                <br />
            }
        </div>
    </div>
</div>