@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
<div id="fb-root"></div>
@*<script src="//js.hs-scripts.com/6846508.js" id="hs-script-loader" async defer></script>*@
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2899110347083020&autoLogAppEvents=1"></script>
<script type="application/ld+json">
    {
    "@@context":"http://schema.org",
    "@@type":"WebSite",
    "name":"Tanyo Ivanov",
    "logo":"https://cdn.takerman.net/tanyoivanov.net/branding/logo/png/png_trns_logo_black.png",
    "url":"https://tanyoivanov.net",
    "potentialAction":{
    "@@type":"SearchAction",
    "target":"https://tanyoivanov.net/search?q={search_term_string}",
    "query-input":"required name=search_term_string"
    },
    "sameAs":[
    "https://facebook.com/dev.tanyoivanov",
    "https://twitter.com/TanyoIvanov",
    "https://linkedin.com/in/tanyo-ivanov",
    "https://fiverr.com/takerman?up_rollout=true"
    ],
    "address":{
    "@@type":"Plovdiv 4000",
    "streetAddress":"bul. Iztochen 80",
    "addressRegion":"Bulgaria",
    "postalCode":"4000",
    "addressCountry":"BG"
    },
    "email":"tivanov@takerman.net",
    "founder":"Tanyo Ivanov",
    "image":"https://cdn.takerman.net/tanyoivanov.net/branding/logo/png/png_trns_logo_black.png"
    }
</script>
<script>
    document.onload += function () {
        document.getElementById('share_buttons').setAttribute('data-a2a-url', window.location.href);
    };
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z8VNY3X2S"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-5Z8VNY3X2S');
</script>
<script src="~/js/site.min.js"></script>