@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
<div id="fb-root"></div>
<script src="//js.hs-scripts.com/6846508.js" id="hs-script-loader" async defer></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-130195294-1" async></script>
<script src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2899110347083020&autoLogAppEvents=1"></script>
<script type="application/ld+json" src="~/data/structure.json">
</script>
<script src="~/js/site.js"></script>