<section class="services_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">Services<span></span></p>
                    <h2>
                        What can I do for You
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/img/services/s1.png" alt="">
                    <h4>Software Development</h4>
                    <p>
                        Web, Desktop and Mobile Development. Software architecture, optimisation, automated testing, components development, bugfixing, servers management and much more...
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/img/services/s2.png" alt="">
                    <h4>People mentoring</h4>
                    <p>
                        Teaching of new staff, preparation of learning materials and documentation. Tasks and tickets management, low-level project management and much more...
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/img/services/s3.png" alt="">
                    <h4>CMS deployment</h4>
                    <p>
                        Deployment, configuration and development of components for CMS systems. Preparation for production ussage, users management, testing, security and much more...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>