<div id="share_buttons" class="row a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://tanyoivanov.net" style="display: flex; justify-content: center;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_xing"></a>
    <a class="a2a_button_telegram"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>