<<<<<<< HEAD
$scheme-name: "sunrise";
=======
>>>>>>> e18f5ac9ad7aab8535f127152ee52f505e0cbc73
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
