@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Harp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <p>
                                <h4 class="text-uppercase">Description: </h4><br />
                                This was a project who I finished <strong>through an outsourcing company named <a href="https://www.bgosoftware.com/" target="_blank">BGO Software</a>.</strong>
                                I was a contributor to it. <br />
                                The Helth and Research department needed help with bugfixing, new features development and tickets handling in their private system named <a href="https://www.harp.org.uk/" target="_blank">HARP</a>.<br />
                                Shortly it is a website where the people from the department of the Helth researches from the English government can review the the applications of the scientists for new medications and other projects.<br />
                                From the application they can organise their work, organise meetings, approve requests and many more.<br />
                                <div id="lightgallery">
                                    <a href="/img/portfolio/screenshots/harp1.png">
                                        <img id="hso-mockup" src="/img/portfolio/screenshots/harp1.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/harp2.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/harp2.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/harp3.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/harp3.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/harp4.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/harp4.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/harp5.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/harp5.png" />
                                    </a>
                                </div>
                            </p>
                            <p>
                                <ul>
                                    <h4 class="text-uppercase">Used Technologies</h4>
                                    <li>Microsoft SQL Server</li>
                                    <li>EntityFramework</li>
                                    <li>ASP.NET Forms/MVC/Web API</li>
                                    <li>Windows Services</li>
                                    <li>Html, JavaScript, CSS, AceAdmin</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Web application used from the English government to approve or decline scientific researches.
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>Client</span>: BGO Software</li>
                                    <li><span>Website</span>: <a href="https://www.bgosoftware.com/">bgosoftware.com</a></li>
                                    <li><span>Completed</span>: 01 Nov 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>