@{
    ViewData["Title"] = "Hobby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2017 - Raspberry PI Cluster server with Docker Swarm Mode</h3>
                                <p>
                                    <strong>About: </strong>In my free time I created a webserver for my emails, websites etc. from 3 Raspberry PIs. They work as One virtual machine through the Docker swarm mode and can run multiple applications, scale them etc. As a cloud platform. I use the cluster as media center for my TV and smart house center too. I am constantly upgrading it and I have plan to make my appartment event smarter. Currently I am able to run ASP.NET Core apps and APIs with docker there. I am using it as a Database server for MariaDb too.<br />
                                    <strong>Tech: </strong>Raspberry PI3 Model B, Docker Swarm, DietPi Linux, Bash, Linux
                                    <br /><br />
                                    <a href="/img/portfolio/screenshots/pi.jpg" target="_blank"><img src="/img/portfolio/screenshots/pi.jpg" class="center-x" style="width:80%; border: 1px solid #c2c2c2;"></a>
                                    <a href="/img/portfolio/screenshots/swarm.png" target="_blank"><img src="/img/portfolio/screenshots/swarm.png" class="center-x" style="width:80%; border: 1px solid #c2c2c2;"></a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Raspberry PI Cluster server with Docker Swarm Mode
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>Client</span>: My spare time</li>
                                    <li><span>Website</span>: <a href="https://tanyo.takerman.net/" target="_blank">takerman.net</a></li>
                                    <li><span>Started</span>: Aug 2017</li>
                                    <li><span>Completed</span>: Jan 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2018 - Design Patterns Package</h3>
                                <p>
                                    2016 - IoT devices mobile installer
                                    About: A mobile application for installation of IoT gadget which manipulates the temperature in smarthomes with weather prediction. Started and delivered successfully.
                                    Tech: ASP.NET MVC4, Bootstrap, AT commands, Javascript, HTML, CSS, AngularJS
                                    <strong>About: </strong>I wanted to create a package with design patterns which contains the most used design patterns while I am learning them from this <a href="https://www.youtube.com/playlist?list=PLrhzvIcii6GNjpARdnO4ueTUAVR9eMBpc" target="_blank">YouTube playlist</a>.<br />
                                    <strong>Tech: </strong>C#
                                    <br /><br />
                                    <a href="~/files/DesignPatterns.zip" download="DesignPatterns.zip" class="text-center"><button class="btn btn-info text-center">DOWNLOAD</button></a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Raspberry PI Cluster server with Docker Swarm Mode
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>Client</span>: My spare time</li>
                                    <li><span>Website</span>: <a href="https://tanyo.takerman.net/" target="_blank">takerman.net</a></li>
                                    <li><span>Started</span>: Aug 2017</li>
                                    <li><span>Completed</span>: Jan 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>