@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Hso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <p>
                                <h4 class="text-uppercase">Description: </h4><br />
                                This was a project who I finished <strong>through an outsourcing company named <a href="https://www.bucons.com/" target="_blank">BuCons</a>.</strong>
                                The organizational and communication part of the project was the responsibility of our Project Manager and my contribution was the entire software development.
                                The HSO Business University, based in Zürich needed the development of an administration module related to grades of the students.
                                The module is a complicated Windows Forms MDI window that shares its logic with other modules into the system.
                                I didn't manage to take a screenshot when was the time. However, I can publish a basic mockup similar to the reality so you can imagine yourself.
                                The module was at least 4 times more complicated than this mockup.
                                <img id="hso-mockup" src="/img/portfolio/portfolio-hso-mockup.png" alt="HSO Mockup" />
                            </p>
                            <p>
                                <ul>
                                    <h4 class="text-uppercase">Used Technologies</h4>
                                    <li>Microsoft SQL Server</li>
                                    <li>LINQ to SQL</li>
                                    <li>Windows Forms</li>
                                    <li>DotNet Bar</li>
                                    <li>WPF, XAML</li>
                                    <li>WCF</li>
                                    <li>Windows Services</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Desktop administration module for a Swiss university of Business. The module is used for the students grades.
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>Client</span>: HSO Business School</li>
                                    <li><span>Website</span>: <a href="https://www.hso.ch/">hso.ch</a></li>
                                    <li><span>Completed</span>: 14 Jan 2015</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>