@{
    ViewData["Title"] = "Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <p>
                                <h4 class="text-uppercase">Description: </h4><br />
                                Foster + Partners is one of the biggest architectual companies in the world. Currently (2019) there are more than 1500 emplyees.<br />
                                The company needed a web application to serve to these employees as the old one was made at least 10 years ago and it was out of date.<br />
                                The intranet application contains large database of available documents, people data and is related to at least 30 more web application for internal usage.<br />
                                Basicly the employees can check the todays food menu, search for people, documents, applications, and use the other web applocations after finding them in the website.<br />
                                The application backend is complicated with a lot of background analysis. The technology stack is rich and combined with the Microsoft stack and some open source technologies as Jue.js and Umbraco.<br />
                                This is just a scratch on the surface of what I've worked there. However I can't publish picture of the project and I will post only some from the Application Insights configured from me:
                                <div id="lightgallery">
                                    <a href="/img/portfolio/screenshots/intranet1.png">
                                        <img id="intranet-mockup" src="/img/portfolio/screenshots/intranet1.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/intranet2.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/intranet2.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/intranet3.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/intranet3.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/intranet4.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/intranet4.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/intranet5.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/intranet5.png" />
                                    </a>
                                    <a href="/img/portfolio/screenshots/intranet6.png">
                                        <img style="display: none" src="/img/portfolio/screenshots/intranet6.png" />
                                    </a>
                                </div>
                            </p>
                            <p>
                                <ul>
                                    <h4 class="text-uppercase">Used Technologies</h4>
                                    <li>Microsoft SQL Server</li>
                                    <li>EntityFramework</li>
                                    <li>ASP.NET Core/Forms/MVC/Web API</li>
                                    <li>Azure</li>
                                    <li>Vue.JS</li>
                                    <li>Umbraco</li>
                                    <li>Windows Services</li>
                                    <li>Html, JavaScript, CSS, Bootstrap</li>
                                    <li>And many more...</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Web application used from the employess of Foster + Partners for organising their daily work.
                                </p>
                                <ul class="list">
                                    <li>
                                        <span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li><span>Client</span>: Foster + Partners</li>
                                    <li><span>Website</span>: <a href="https://www.fosterandpartners.com/">fosterandpartners.com</a></li>
                                    <li><span>Completed</span>: 01 Oct 2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>