@{
    ViewData["Title"] = "Various";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="portfolio_details_inner">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2017 - Internet offer making calendar</h3>
                                <p>
                                    <strong>About: </strong>Module for configuring and calculation of an offer for television. Started and completed by the end.<br />
                                    <strong>Tech:</strong> Javascript, CSS, HTML, ASP.NET WEB API, SQL
                                    <a href="/img/portfolio/screenshots/calendar.png" target="_blank">
                                        <img src="/img/portfolio/screenshots/calendar.png" class="center-x" style="width:80%; border: 1px solid #c2c2c2;">
                                    </a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Module for configuring and calculation of an offer for television.
                                </p>
                                <ul class="list">
                                    <li><span>Client</span>: BuCons</li>
                                    <li><span>Website</span>: <a href="https://www.bucons.com/" target="_blank">bucons.com</a></li>
                                    <li><span>Started</span>: 01 Jan 2017</li>
                                    <li><span>Completed</span>: 01 May 2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <article>
                                <h3>2017 - <a href="https://luxuryweddinvitations.com" target="_blank">luxuryweddinvitations.com</a></h3>
                                <p>
                                    <strong>About: </strong>Website and webshop for selling of luxury wedding invitations. Started and completed by the end.<br />
                                    <strong>Tech:</strong> ASP.NET MVC, CSS, JavaScript, HTML
                                    <br /><br />
                                    <a href="https://luxuryweddinvitations.com" target="_blank">
                                        <img src="/img/portfolio/screenshots/luxuryweddinvitations.jpg" class="center-x" style="width:40%; border: 1px solid #c2c2c2;">
                                    </a>
                                </p>
                            </article>
                        </div>
                        <div class="col-lg-5">
                            <div class="portfolio_right_text mt-30">
                                <h4 class="text-uppercase">Project Info</h4>
                                <p>
                                    Website and webshop for selling of luxury wedding invitations.
                                </p>
                                <ul class="list">
                                    <li><span>Client</span>: LuxuryWeddInvitations</li>
                                    <li><span>Website</span>: <a href="https://luxuryweddinvitations.com">luxuryweddinvitations.co</a></li>
                                    <li><span>Completed</span>: 01 Jan 2017</li>
                                    <li><span>Completed</span>: 30 Mar 2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>