@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="portfolio_area section-margin pb-0" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="main_title">
                    <p class="top_text">Updated 23/02/2020 <span></span></p>
                    <h2>
                        Here is my CV
                    </h2>
                    <h3>
                        <a href="~/files/Tanyo_Ivanov_CV.pdf" download><i class="fa fa-download fa-fw w3-margin-right"></i>PDF</a> |
                        <a href="~/files/Tanyo_Ivanov_CV.docx" download><i class="fa fa-download fa-fw w3-margin-right"></i>DOCX</a>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>

        <div>
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            Application Developer .NET<br />
                            <a href="https://www.fosterandpartners.com/" target="_blank">Foster + Partners</a> - SW115DN – UK, London
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Dec 2019</h6>
                    <p>
                        Developed and the tested the main Intranet application which has relation with loads of small inhouse developed applications written with different technologies. Renewed, documented and presented a lot of outdated applications used for organisation of the architects. For example, apps for booking meeting rooms, taxis travels, emails etc. Agile methodology.<br />
                        <strong>Tech:</strong> .NET Core, Design Patterns, ASP.NET, Umbraco, Vue.js, SQL, Selenium, and other common skills
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            Senior .NET Developer<br />
                            <a href="https://www.bgosoftware.com/" target="_blank">BGO Software</a> - 4000 – Bulgaria, Plovdiv
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - Nov 2018</h6>
                    <p>
                        Developed web system for managing the health researches of the UK and global scientists. The application is used for organising meetings in the UK government. Worked on the development of internal components and fixes of the project. Communicated everyday with the NHS client team. Trained a Junior. Agile methodology.<br />
                        <strong>Tech:</strong> .NET, Design Patterns, ASP.NET, Ace Admin, SQL, MS Tests, and other common skills
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            .NET Developer<br />
                            <a href="http://comstream.se/" target="_blank">Comstream</a> – 41101 – Sweden, Gothenburg
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2015- Jun 2016</h6>
                    <p>
                        Built web and mobile applications for Smart Houses and Energy consumption optimisation. Worked onsite from the client location in Sweden. Trained a junior. Internet of Things devices integration. Agile methodology.
                        <strong>Tech:</strong> .NET, Design Patterns, ASP.NET, SQL, IoT, and other common skills
                    </p><br>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            .NET Developer<br />
                            <a href="https://www.bucons.com/" target="_blank">BuCons</a> - 4000 - Remote
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2013- Jun 2015</h6>
                    <p>
                        Developed, documented and delivered a lot of applications for the company clients. The main application was a Desktop WinForms application used for the administration of the scores and the profiles of the students. Worked with the team of HSO from Switzerland remotely until the delivery.
                        Trained a junior. Waterfall methodology.
                        <strong>Tech:</strong> .NET, WinForms, ASP.NET, DotNetNuke, SQL, WPF, XBAP and other common skills
                    </p><br>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            Business Information Technologies, Bachelor in Informatics<br />
                            University of Plovdiv - Plovdiv
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2014</h6>
                    <p>Programming, Economics, Banking, Excel, 3D Software, English</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity">
                        <b>
                            Information Technologies<br />
                            Asen Zlatarov’s High School – Parvomay
                        </b>
                    </h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2005 - 2009</h6>
                    <p>Programming, MS Office, 3D Software and design</p>
                    <hr>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Key Skills</h2>
                <div class="w3-container">
                    <table style="width: 100%" class="tbl">
                        <tr>
                            <td>
                                <ul>
                                    <li>NET Framework</li>
                                    <li>ASP.NET</li>
                                    <li>Bash</li>
                                    <li>CSS</li>
                                    <li>HTML5</li>
                                    <li>Internet of Things</li>
                                    <li>JavaScript</li>
                                    <li>MVC</li>
                                    <li>SQL</li>
                                    <li>SQL Server</li>
                                    <li>Selenium</li>
                                    <li>Windows Services</li>
                                    <li>Amazon EC2</li>
                                    <li>Firebird</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>TypeScript</li>
                                    <li>Windows Server</li>
                                    <li>WinForms</li>
                                    <li>Agile Methodologies</li>
                                    <li>Test Automation</li>
                                    <li>Unit Testing</li>
                                    <li>Integration Testing</li>
                                    <li>C#</li>
                                    <li>Bootstrap</li>
                                    <li>Entity Framework</li>
                                    <li>ASP.NET Web API</li>
                                    <li>Raspberry Pi</li>
                                    <li>Load Testing</li>
                                    <li>Software Design Patterns</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Entity Framework (EF) Core</li>
                                    <li>.NET Core</li>
                                    <li>ASP.NET Core</li>
                                    <li>Windows Server</li>
                                    <li>jQuery</li>
                                    <li>Docker</li>
                                    <li>Git</li>
                                    <li>Linux</li>
                                    <li>Coded UI Testing</li>
                                    <li>WinForms</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>