@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
<div class="w3-container w3-card w3-white">
    <h2 class="w3-text-grey w3-padding-16 text-center"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>@localizer["Key Skills"]</h2>
    <div class="w3-container">
        <table style="width: 100%" class="tbl">
            <tr>
                <td>
                    <ul>
                        <li>NET Framework</li>
                        <li>ASP.NET</li>
                        <li>Bash</li>
                        <li>CSS</li>
                        <li>HTML5</li>
                        <li>Internet of Things</li>
                        <li>JavaScript</li>
                        <li>MVC</li>
                        <li>SQL</li>
                        <li>SQL Server</li>
                        <li>Selenium</li>
                        <li>Windows Services</li>
                        <li>Amazon EC2</li>
                        <li>Firebird</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>TypeScript</li>
                        <li>Windows Server</li>
                        <li>WinForms</li>
                        <li>Agile Methodologies</li>
                        <li>Test Automation</li>
                        <li>Unit Testing</li>
                        <li>Integration Testing</li>
                        <li>C#</li>
                        <li>Bootstrap</li>
                        <li>Entity Framework</li>
                        <li>ASP.NET Web API</li>
                        <li>Raspberry Pi</li>
                        <li>Load Testing</li>
                        <li>Software Design Patterns</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Entity Framework (EF) Core</li>
                        <li>.NET Core</li>
                        <li>ASP.NET Core</li>
                        <li>Windows Server</li>
                        <li>jQuery</li>
                        <li>Docker</li>
                        <li>Git</li>
                        <li>Linux</li>
                        <li>Coded UI Testing</li>
                        <li>WinForms</li>
                    </ul>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>