<<<<<<< HEAD
$scheme-name: "midnight";
=======
>>>>>>> e18f5ac9ad7aab8535f127152ee52f505e0cbc73
$base-color: #363b3f;
$highlight-color: #e14d43;
$notification-color: #69a8bb;

@import "../_admin.scss";
