<<<<<<< HEAD
$scheme-name: "ectoplasm";
=======
>>>>>>> e18f5ac9ad7aab8535f127152ee52f505e0cbc73
$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

@import "../_admin.scss";
