@using Tanyo.Portfolio.Data.Entities
@inject SharedLocalizationService sharedLocalizer
@inject IViewLocalizer localizer
@model IEnumerable<Stat>

<section class="statistics_area">
    <div class="container">
        <div class="row justify-content-lg-start justify-content-center">
            @foreach (var stat in Model)
            {
                <div class="col-lg-2 col-md-3">
                    <div class="statistics_item">
                        <h3><span class="counter">@stat.Value</span>+</h3>
                        <p>@localizer[stat.Name]</p>
                    </div>
                </div>
            }
        </div>
</section>